{% extends "layout.html" %}

{% block title %}
    Bought
{% endblock %}

{% block main %}
<table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ symbol }}</td>
            <td>{{ name }}</td>
            <td>{{share}}</td>
            <td>{{ price }}</td>
            <td>{{totalstonks}}</td>
            <p>A share of {{ name }} ({{ symbol }}) costs {{ price }}{{share}}</p>
        </tr>

    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Cash</td>
            <td>{{money}}</td>
        </tr>
        <tr>
            <td colspan="4">TOTAL</td>
            <td>{{total}}</td>
        </tr>
    </tfoot>
</table>





{% endblock %}